.item-title {
    font-weight: bold;
}

.counters-table {
    margin-top: 10px;
}

.counter-head th, .counter-row td {
    border: 1px solid #000;
    text-align: left;
    padding: 10px;
}

.button-bar {
    margin-top: 10px;
}

.loading {
    position: relative;
}

.loading:before {
    font-size: 2px;
}

.noteblock {
    margin: 10px;
}
